<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="by.madcat.development.databaseviewer">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".Requests.RequestService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity android:name=".DataBasesListActivity">
        </activity>
        <activity android:name=".AddEditDatabaseActivity">
        </activity>
        <activity android:name=".TablesListActivity">
        </activity>
        <activity android:name=".AddEditTableActivity">
        </activity>
        <activity android:name=".RecordsListActivity">
        </activity>
        <activity android:name=".AddEditRecordActivity">
        </activity>

        <provider
            android:name=".SQLiteData.DatabaseViewerContentProvider"
            android:authorities="DatabaseDescription.AUTHORITY"
            android:enabled="true"
            android:exported="false">
        </provider>

        <activity android:name=".QueriesListActivity">
        </activity>
    </application>

</manifest>